* {
    margin: 0;
    padding: 0;
    height: 2000px;
}


.container {
    /*distancia entre colunas*/
    column-gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.bloco1 {
    background-color: brown;
    height: 150px;
    width: 200px;
    flex-grow: 0;
    /* colocar o bloco onde quiser */
    /* align-self: flex-end; */
}
.bloco2 {
    background-color: yellow;
    height: 150px;
    width: 200px;
    flex-grow: 0;
}
.bloco3 {
    background-color: green;
    height: 150px;
    width: 200px;
    flex-grow: 0;
}